@model BlogPostTagListModel
@if (Model.Tags.Count > 0)
{
    <div class="accordion mt-1" id="blog-tags-wrapper" role="tablist" aria-multiselectable="fals">

        <div class="categories_box bg-white">

            <div class="card border-0 mb-3">
                <div class="card-header br border-0 p-0" role="tab" id="headingOne">
                    <a class="collapsed" data-toggle="collapse" data-parent="#blog-tags-wrapper" href="#popular-blog-tags" aria-expanded="fals" aria-controls="collapseOne">

                        <h2 class="text-white text-uppercase font-bold mb-0">@T("Blog.TagCloud") <i class="fa fa-angle-down float-right rotate-icon fs"></i></h2>

                    </a>
                </div>

                <!-- Card body -->
                <div id="popular-blog-tags" class="collapse" role="tabpanel" aria-labelledby="headingOne" data-parent="#accordionEx">
                    <div class="card-body p-2 popular-blog-tags ">

                        <ul class="font-bold">
                            @foreach (var item in Model.Tags)
                            {
                                <li class="d-inline-block m-1">
                                    <a href="@Url.RouteUrl("BlogByTag", new { tag = item.Name })" style="font-size:@(Model.GetFontSize(item))%;">@item.Name</a>
                                </li>
                            }
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
}