/*Gray Color*/
$gray: #D0D0D1;
$gray-dark: #ccc;
$gray-light: #eee;
$gray-bg: #E6E6E6;




/*Red Color*/
$red: #FF0000;
$red-dark: #9D0A0E;
$red-light: #FF6347;


/*Yellow Color*/
$yellow: #FFFF00;
$yellow-dark: #F48410;


/*Black Color*/
$black: #444;
$base-color: #777;
$black-solid: #000000;


/*White Color*/
$white: #ffffff;


/*Fonts Variables*/
$base-font-size: 14px;
$base-font-color: #777;
$base-font-family:Arial, Helvetica, sans-serif;


/*Path*/
$img-path: '../images';
$icon-path: '../images/icons';