/*********** CSS RESET **********/
@import url(http://fonts.googleapis.com/css?family=Raleway:400,700,500);


* {
    margin: 0;
    outline: none;
    padding: 0;
    text-decoration: none;
}

    *, *:before, *:after {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }

html {
    margin: 0;
    -webkit-text-size-adjust: none;
}

ol, ul {
    list-style: none;
}

a img {
    border: none;
}

a:active {
    outline: none;
}

input[type="button"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
input[type="reset"]::-moz-focus-inner,
input[type="file"] > input[type="button"]::-moz-focus-inner {
    margin: 0;
    border: 0;
    padding: 0;
}


input[type="button"],
input[type="submit"],
input[type="reset"] {
    -webkit-appearance: none;
}

input:-webkit-autofill {
    -webkit-box-shadow: inset 0 0 0 1000px #fff;
}

script {
    display: none !important;
}


.container-fluid, .container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.container-fluid {
    max-width: 1800px;
}

@media (min-width: 768px) {
    .container {
        max-width: 750px;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 970px;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1200px;
    }
}

.row {
    margin-left: -15px;
    margin-right: -15px;
}

.row-flex {
    margin-left: -7.5px;
    margin-right: -7.5px;
}

    .row-flex > div, .row-flex > .column {
        padding-left: 7.5px;
        padding-right: 7.5px;
    }


.row-flex {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

    .row-flex.middel {
        align-items: center;
        justify-content: center;
    }

    .row-flex.auto .column {
        flex-grow: 1;
    }

@media (max-width: 768px) {
    .row-flex > .column {
        width: 100%;
    }

    .row-flex {
        flex-wrap: nowrap;
        flex-direction: column;
    }
}

.col-xs-one, .col-sm-one, .col-md-one, .col-lg-one, .col-xs-two, .col-sm-two, .col-md-two, .col-lg-two, .col-xs-three, .col-sm-three, .col-md-three, .col-lg-three, .col-xs-four, .col-sm-four, .col-md-four, .col-lg-four, .col-xs-five, .col-sm-five, .col-md-five, .col-lg-five, .col-xs-six, .col-sm-six, .col-md-six, .col-lg-six, .col-xs-seven, .col-sm-seven, .col-md-seven, .col-lg-seven, .col-xs-eight, .col-sm-eight, .col-md-eight, .col-lg-eight, .col-xs-nine, .col-sm-nine, .col-md-nine, .col-lg-nine, .col-xs-ten, .col-sm-ten, .col-md-ten, .col-lg-ten, .col-xs-eleven, .col-sm-eleven, .col-md-eleven, .col-lg-eleven, .col-xs-twelve, .col-sm-twelve, .col-md-twelve, .col-lg-twelve {
    min-height: 1px;
    padding-left: 15px;
    position: relative;
    padding-right: 15px;
}

.col-xs-one, .col-xs-two, .col-xs-three, .col-xs-four, .col-xs-five, .col-xs-six, .col-xs-seven, .col-xs-eight, .col-xs-nine, .col-xs-ten, .col-xs-eleven, .col-xs-twelve {
    float: left;
}

.col-xs-twelve {
    width: 100%;
}

.col-xs-eleven {
    width: 91.66666667%;
}

.col-xs-ten {
    width: 83.33333333%;
}

.col-xs-nine {
    width: 75%;
}

.col-xs-eight {
    width: 66.66666667%;
}

.col-xs-seven {
    width: 58.33333333%;
}

.col-xs-six {
    width: 50%;
}

.col-xs-five {
    width: 41.66666667%;
}

.col-xs-four {
    width: 33.33333333%;
}

.col-xs-three {
    width: 25%;
}

.col-xs-two {
    width: 16.66666667%;
}

.col-xs-one {
    width: 8.33333333%;
}

@media (min-width: 768px) {
    .col-sm-one, .col-sm-two, .col-sm-three, .col-sm-four, .col-sm-five, .col-sm-six, .col-sm-seven, .col-sm-eight, .col-sm-nine, .col-sm-ten, .col-sm-eleven, .col-sm-twelve {
        float: left;
    }

    .col-sm-twelve {
        width: 100%;
    }

    .col-sm-eleven {
        width: 91.66666667%;
    }

    .col-sm-ten {
        width: 83.33333333%;
    }

    .col-sm-nine {
        width: 75%;
    }

    .col-sm-eight {
        width: 66.66666667%;
    }

    .col-sm-seven {
        width: 58.33333333%;
    }

    .col-sm-six {
        width: 50%;
    }

    .col-sm-five {
        width: 41.66666667%;
    }

    .col-sm-four {
        width: 33.33333333%;
    }

    .col-sm-three {
        width: 25%;
    }

    .col-sm-two {
        width: 16.66666667%;
    }

    .col-sm-one {
        width: 8.33333333%;
    }
}

@media (min-width: 992px) {
    .col-md-one, .col-md-two, .col-md-three, .col-md-four, .col-md-five, .col-md-six, .col-md-seven, .col-md-eight, .col-md-nine, .col-md-ten, .col-md-eleven, .col-md-twelve {
        float: left;
    }

    .col-md-twelve {
        width: 100%;
    }

    .col-md-eleven {
        width: 91.66666667%;
    }

    .col-md-ten {
        width: 83.33333333%;
    }

    .col-md-nine {
        width: 75%;
    }

    .col-md-eight {
        width: 66.66666667%;
    }

    .col-md-seven {
        width: 58.33333333%;
    }

    .col-md-six {
        width: 50%;
    }

    .col-md-five {
        width: 41.66666667%;
    }

    .col-md-four {
        width: 33.33333333%;
    }

    .col-md-three {
        width: 25%;
    }

    .col-md-two {
        width: 16.66666667%;
    }

    .col-md-one {
        width: 8.33333333%;
    }
}

@media (min-width: 1200px) {
    .col-lg-one, .col-lg-two, .col-lg-three, .col-lg-four, .col-lg-five, .col-lg-six, .col-lg-seven, .col-lg-eight, .col-lg-nine, .col-lg-ten, .col-lg-eleven, .col-lg-twelve {
        float: left;
    }

    .col-lg-twelve {
        width: 100%;
    }

    .col-lg-eleven {
        width: 91.66666667%;
    }

    .col-lg-ten {
        width: 83.33333333%;
    }

    .col-lg-nine {
        width: 75%;
    }

    .col-lg-eight {
        width: 66.66666667%;
    }

    .col-lg-seven {
        width: 58.33333333%;
    }

    .col-lg-six {
        width: 50%;
    }

    .col-lg-five {
        width: 41.66666667%;
    }

    .col-lg-four {
        width: 33.33333333%;
    }

    .col-lg-three {
        width: 25%;
    }

    .col-lg-two {
        width: 16.66666667%;
    }

    .col-lg-one {
        width: 8.33333333%;
    }

    .visible-lg {
        display: block !important;
    }

    .visible-lg-block {
        display: block !important;
    }

    .visible-lg-inline {
        display: inline !important;
    }

    .visible-lg-inline-block {
        display: inline-block !important;
    }

    .hidden-lg {
        display: none !important;
    }
}

.clearfix:before, .clearfix:after, .container:before, .container:after, .container-fluid:before, .container-fluid:after, .row:before, .row:after {
    content: "";
    display: table;
}

.clearfix:after, .container:after, .container-fluid:after, .row:after {
    clear: both;
}

.pull-right {
    float: right !important;
}

.pull-left {
    float: left !important;
}

.hide {
    display: none !important;
}

.show {
    display: block !important;
}

.invisible {
    visibility: hidden;
}

.text-hide {
    border: 0;
    font: 0/0 a;
    text-shadow: none;
    color: transparent;
    background-color: transparent;
}

.hidden, .hide {
    display: none !important;
}

.affix {
    position: fixed;
}

.relative {
    position: relative;
}

.text-left {
    text-align: left;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.upper {
    text-transform: uppercase;
}

.single-line {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.light {
    font-weight: 300;
}

.bold {
    font-weight: bold;
}

@-ms-viewport {
    width: device-width;
}

.visible-xs, .visible-sm, .visible-md, .visible-lg {
    display: none !important;
}

.visible-xs-block, .visible-xs-inline, .visible-xs-inline-block, .visible-sm-block, .visible-sm-inline, .visible-sm-inline-block,
.visible-md-block, .visible-md-inline, .visible-md-inline-block, .visible-lg-block, .visible-lg-inline, .visible-lg-inline-block {
    display: none !important;
}

@media (max-width: 767px) {
    .visible-xs {
        display: block !important;
    }

    .visible-xs-block {
        display: block !important;
    }

    .visible-xs-inline {
        display: inline !important;
    }

    .visible-xs-inline-block {
        display: inline-block !important;
    }

    .hidden-xs {
        display: none !important;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .visible-sm {
        display: block !important;
    }

    .visible-sm-block {
        display: block !important;
    }

    .visible-sm-inline {
        display: inline !important;
    }

    .visible-sm-inline-block {
        display: inline-block !important;
    }

    .hidden-sm {
        display: none !important;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .visible-md {
        display: block !important;
    }

    .visible-md-block {
        display: block !important;
    }

    .visible-md-inline {
        display: inline !important;
    }

    .visible-md-inline-block {
        display: inline-block !important;
    }

    .hidden-md {
        display: none !important;
    }
}