@model ChangePasswordModel
@{
    Layout = "_ColumnsTwo";

    //title
    Html.AddTitleParts(T("PageTitle.Account").Text);
    //page class
    Html.AppendPageCssClassParts("html-account-page");
    Html.AppendPageCssClassParts("html-change-password-page");
}
@section left
    {
    @await Component.InvokeAsync("CustomerNavigation", new { selectedTabId = CustomerNavigationEnum.ChangePassword })
}
@section heading {
    <div class="page-title">
        <h2 class="text-white text-uppercase"> @T("Account.MyAccount") - @T("Account.ChangePassword") </h2>
    </div>
}
<div class="page account-page change-password-page theme-box-shadow p-3 px-4">
    <div class="page-body">
        @if (!string.IsNullOrEmpty(Model.Result))
        {
            <div class="result">
                @Model.Result
            </div>
        }
        <form asp-route="CustomerChangePassword" method="post">
            <div asp-validation-summary="ModelOnly" class="message-error"></div>
            <div class="fieldset">
                <div class="form-fields">
                    <div class="form-group">
                        <label asp-for="OldPassword" asp-postfix=":"></label>
                        <div class="inputs">
                            <input class="theme-input-control" asp-for="OldPassword" />
                            <nop-required />
                        </div>
                        <span asp-validation-for="OldPassword"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="NewPassword" asp-postfix=":"></label>
                        <div class="inputs">
                            <input class="theme-input-control" asp-for="NewPassword" />
                            <nop-required />
                        </div>
                        <span asp-validation-for="NewPassword"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ConfirmNewPassword" asp-postfix=":"></label>
                        <div class="inputs">
                            <input class="theme-input-control" asp-for="ConfirmNewPassword" />
                            <nop-required />
                        </div>
                        <span asp-validation-for="ConfirmNewPassword"></span>
                    </div>
                </div>
            </div>
            <div class="buttons">
                <input type="submit" class="change-password-button theme-button mx-auto" value="@T("Account.ChangePassword.Button")" />
            </div>
        </form>
    </div>
</div>