@model PasswordRecoveryModel
@{
    Layout = "_ColumnsOne";

    //title
    Html.AddTitleParts(T("PageTitle.PasswordRecovery").Text);
    //page class
    Html.AppendPageCssClassParts("html-password-recovery-page");
}
<div class="page password-recovery-page body_container">
    <div class="inner_page_navigation">
        <div class="container text-center">
            <div class="row">
                <div class="col-sm-12">
                    <div class="page-title">
                        <h2 class="text-uppercase font-bold text-white"> @T("Account.PasswordRecovery")</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="page-body container inner_page_body_container">
        <div class="row justify-content-center">
            <div class="col-md-9 col-sm-12">
                <div class="products_details_container bg-white m-1 px-3">
                    <div class="row justify-content-center">
                        <div class="container mt-4 pt-4 pb-4 pl-0">
                            <div class="fieldset col-sm-10 m-auto">
                                @if (!string.IsNullOrEmpty(Model.Result))
                                {
                                    <div class="result mb-2">
                                        @Model.Result
                                    </div>
                                }
                                <form asp-route="PasswordRecovery" method="post">
                                    <div asp-validation-summary="ModelOnly" class="message-error"></div>
                                    <p class="tooltip">@T("Account.PasswordRecovery.Tooltip")</p>
                                    <div class="fieldset">
                                        <div class="form-fields">
                                            <div class="inputs">
                                                <label class="sr-only" asp-for="Email" asp-postfix=":"></label>
                                                <input class="theme-input-control" placeholder="Enter Your Email" asp-for="Email" class="email" />
                                                <nop-required />
                                            </div>
                                            <span asp-validation-for="Email"></span>
                                        </div>
                                    </div>
                                    <div class="buttons text-center">
                                        <input type="submit" name="send-email" class="password-recovery-button theme-button mx-auto" value="@T("Account.PasswordRecovery.RecoverButton")" />
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>