@{
    Layout = "_Root";
}


<div class="body_container">
        @if(IsSectionDefined("heading"))
        {
            @RenderSection("heading")

        }

        @if (IsSectionDefined("Breadcrumb"))
        {
            @RenderSection("Breadcrumb")
        }

               
        <div class="center-1">
            @await Component.InvokeAsync("Widget", new { widgetZone = "main_column_before" })
            @RenderBody()
            @await Component.InvokeAsync("Widget", new { widgetZone = "main_column_after" })
        </div>
</div>