/****** SEARCH & SITEMAP ******/
.search-page {
    .page-title {
        margin: 0 0 -1px;
    }
}

.search-input {
    .fieldset {
        margin: 0 0 30px;
    }

    .form-fields {
        padding: 30px 15px 10px;
    }

    input + label {
        display: inline;
        margin: 0 0 0 5px;
    }

    .buttons {
        text-align: center;
    }

    .button-1 {
        min-width: 140px;
        border: none;
        background-color: #4ab2f1;
        padding: 10px 30px;
        text-align: center;
        font-size: 15px;
        color: $white;
        text-transform: uppercase;

        &:hover {
            background-color: #248ece;
        }
    }
}


.advanced-search {
    margin: 30px 0 0;

    .price-range {
        display: inline-block;

        input {
            width: 80px;
            margin: 3px;
        }
    }
}

.search-results {
    margin: 30px 0 0;

    .warning,
    .no-result {
        margin: 10px 0;
        color: #e4434b;
    }
}


.sitemap-page {
    .description {
        margin: 0 0 30px;
        text-align: center;
    }

    .entity {
        margin: 0 0 30px;
    }

    .entity-title {
        margin: 0 0 15px;
        padding: 0 10px;
        text-align: center;

        h2 {
            font-size: 20px;
            font-weight: normal;
            color: $black;
        }
    }

    .entity-body {
        border-top: 1px solid #e6e6e6;
        background-color: #f9f9f9;
        padding: 30px 15px;
        text-align: center;
    }

    ul {
        font-size: 0;
    }

    li {
        display: inline-block;
        position: relative;
        margin: 0 8px;
        padding: 0 12px;
        line-height: 50px;
        font-size: 14px; /*reset zeroing*/
        &::before {
            content: "";
            position: absolute;
            top: 23px;
            left: 0;
            width: 5px;
            height: 5px;
            background-color: $gray;
        }
    }



    a {
        color: $black;

        &:hover {
            color: #4ab2f1;
        }

        &:empty {
            display: none;
        }
    }
}
