
/*********** HEADER ***********/

.admin-header-links {
    background-color: #333;
    text-align: center;
    color: #eee;

    * {
        display: inline-block;
        margin: 0 10px;
        line-height: 35px;
        font-size: 12px;
        font-weight: bold;
    }

    .impersonate {
        display: inline-block;
    }

    .impersonate a {
        background-color: #555;
        padding: 0 15px;

        &:hover {
            background-color: #666;
        }
    }
}


.header {
    position: relative;
    z-index: 10;
    width: 95%;
    margin: auto;
    text-align: center;
}

.header-upper {
    position: relative;
    z-index: 1;
    border-bottom: 1px solid $gray;
}

.header-selectors-wrapper {
    border-bottom: 1px solid $gray;
    padding: 10px 0;

    > div {
        display: block;
        width: 50%;
        margin: 10px auto;
        vertical-align: middle;
    }

    select {
        width: 100%;
    }
}

.language-list {
    max-width: 100%;
    font-size: 0;

    li {
        display: inline-block;
        margin: 0 1px;
        vertical-align: middle;
    }

    a {
        display: block;
        position: relative;
        width: 24px;
        height: 32px;
        line-height: 0;
    }

    img {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        margin: auto;
    }
}

.header-links-wrapper {
    position: relative;
    padding: 20px 0;
}

.header-links {
    ul {
        font-size: 0;
    }

    li {
        display: inline-block;
        margin: 0 10px;
    }

    span,
    a {
        display: inline-block;
        font-size: 12px; /*reset zeroing*/
        line-height: 36px;
        text-transform: uppercase;

        &:hover {
            color: #4ab2f1;
        }
    }
}

#topcartlink {
    display: block;
    width: 70%;
    max-width: 400px;
    margin: 10px auto 0;
    background-color: #f6f6f6;
    padding: 0 20px;

    a {
        background: url('../images/shopping-bag.png') left center no-repeat;
        padding: 0 0 0 20px;
    }
}

.header-lower {
    position: relative;
    z-index: 0;
    padding: 35px 0;
}

.header-logo {
    margin: 0 0 20px;
    text-align: center;

    a {
        display: inline-block;
        max-width: 100%;
        line-height: 0; /*firefox line-height bug fix*/
        img {
            max-width: 100%;
            opacity: 1;
        }
    }
}

.search-box {
    form {
        display: inline-block;

        &::after {
            content: "";
            display: block;
            clear: both;
        }
    }

    input.search-box-text {
        float: left;
        width: 200px;
        height: 36px;
        margin: 0 -1px 0 0;
    }

    .search-box-button {
        float: left;
        min-width: 86px;
        height: 36px;
        border: none;
        background-color: #4ab2f1;
        padding: 0 15px;
        text-align: center;
        color: $white;
        text-transform: uppercase;

        &:hover {
            background-color: #248ece;
        }
    }

    .ui-autocomplete-loading {
        background: $white url('../images/ajax-loader-small.gif') right center no-repeat;
    }
}

.ui-helper-hidden-accessible {
    display: none !important;
}

.ui-autocomplete {
    width: 285px !important;
    border: 1px solid $gray;
    border-top: none;
    overflow: hidden;
    background-color: $white;
    text-align: left;
    /*override jQuery UI styles, do not delete doubled properties*/
    border-radius: 0;
    padding: 0;
    font: normal 14px Arial, Helvetica, sans-serif;

    li {
        border-top: 1px solid $gray;

        &:first-child {
            border-top: none;
        }
    }

    a {
        display: block;
        padding: 15px;
        font-size: 14px;
        /*override jQuery UI styles, do not delete doubled properties*/
        margin: 0 !important;
        border: none !important;
        border-radius: 0 !important;
        background: none !important;
        padding: 15px !important;
        line-height: normal !important;
        color: $base-color !important;

        &:hover {
            background-color: #f6f6f6 !important;
        }

        &.ui-state-focus {
            background-color: #f6f6f6 !important;
        }
    }

    img {
        display: none;
        min-width: 20px;
        margin: 0 10px 0 0;
        vertical-align: middle;
    }
}
