@model IList<ProductOverviewModel>
@{
    Layout = "_ColumnsTwo";

    //title
    Html.AddTitleParts(T("PageTitle.RecentlyViewedProducts").Text);
}
@using Nop.Web.Models.Catalog;
<div class="page recently-viewed-products-page">
    <div class="title mid-content-title">
        <h3>@T("Products.RecentlyViewedProducts")</h3>
    </div>
    <div class="page-body">
        @if (Model.Count > 0)
        {
            <div class="product-grid">
                @foreach (var product in Model)
                {
                    <div class="offer offer-default">
                        @await Html.PartialAsync("_ProductBox", product)
                    </div>
                }
            </div>
        }
    </div>
</div>
